
<!-- Navigation Section -->
<nav class="navbar" role="navigation">

  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="fa fa-bars"></span>
    </button>
    <a class="navbar-brand" href="#">achieve</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="navbar">
    <ul class="nav navbar-nav">
      <li>
      <a href="" scroll-to="#services h1">SERVICES</a>
      </li>
      <li>
      <a href="" scroll-to="#portfolio h1">PORTFOLIO</a>
      </li>
      <li class="home">
      <a href="" scroll-to=".navbar div">
        <img src="images/logo-no-text.png" alt="Home" width="128" height="128">
        <br>
        achieve
      </a>
      </li>
      <li>
      <a href="" scroll-to="#about h1">ABOUT</a>
      </li>
      <li>
      <a href="" scroll-to="#contact h1">HIRE US</a>
      </li>
    </ul>
  </div>

</nav>
<!-- End Navigation Section -->

<!-- Home Section -->
<section id="home">

  <div class="container">
    <div class="row text-center">
      <div class="col-sm-12">
        <div class="visible-xs">
          <img src="images/logo.png" class="logo" alt="Home" width="192" height="192">
        </div>
      </div>
      <div class="col-sm-12">
        <p class="text-extra-large">We are a freelance agency that focuses on creating<br class="uk-hidden-small"> beautiful, responsive web designs and templates.
        </p>
      </div>
    </div>
  </div>

</section>
<!-- Home Section -->

<!-- Services Section -->
<section id="services">

  <div class="container">

    <div class="row text-center">
      <div class="col-sm-12">
        <h1 class="heading-large section-color-1">SERVICES</h1>
      </div>
      <div class="col-sm-12">
        <p class="text-large section-color-1">
        We create beautiful responsive Websites using the latest Web Technologies,<br>
        for what ever need you may have.
        </p>
      </div>
    </div>

    <div class="row text-center">

      <div class="col-sm-6 col-lg-3 service-item">
        <div>
          <i class="fa fa-html5"></i>
        </div>
        <div>
          <h3 class="section-color-1">HTML5</h3>
          <p class="section-color-1">
          Sed in luctus lectus, ac commodo velit. Nulla imperdiet ullamcorper augue ac ultricies.
          </p>
        </div>
      </div>

      <div class="col-sm-6 col-lg-3 service-item">
        <div>
          <i class="fa fa-code"></i>
        </div>
        <div>
          <h3 class="section-color-1">CODE</h3>
          <p class="section-color-1">
          Sed in luctus lectus, ac commodo velit. Nulla imperdiet ullamcorper augue ac ultricies.
          </p>
        </div>
      </div>

      <div class="col-sm-6 col-lg-3 service-item">
        <div>
          <i class="fa fa-android"></i>
        </div>
        <div>
          <h3 class="section-color-1">ANDROID</h3>
          <p class="section-color-1">
          Sed in luctus lectus, ac commodo velit. Nulla imperdiet ullamcorper augue ac ultricies.
          </p>
        </div>
      </div>

      <div class="col-sm-6 col-lg-3 service-item">
        <div>
          <i class="fa fa-apple"></i>
        </div>
        <div>
          <h3 class="section-color-1">iOS</h3>
          <p class="section-color-1">
          Sed in luctus lectus, ac commodo velit. Nulla imperdiet ullamcorper augue ac ultricies.
          </p>
        </div>
      </div>

    </div>

  </div>

</section>
<!-- End Services Section -->

<!-- Portfolio Section -->
<section id="portfolio">

  <div class="container">

    <div class="row text-center">
      <div class="col-sm-12">
        <h1 class="heading-large section-color-2">PORTFOLIO</h1>
      </div>
      <div class="col-sm-12">
        <p class="text-large section-color-2">
        We create beautiful responsive Websites using the latest Web Technologies,<br>
        for what ever need you may have.
        </p>
      </div>
    </div>

    <div class="portfolio-container" data-animation="fadeIn">

      <ul id="gallery">

        <li class="code design grid-unit">
        <a href="#" class="thumbnail" data-toggle="modal" data-target="#myModal">
          <img src="https://d13yacurqjgara.cloudfront.net/users/11867/screenshots/1350076/ipad3_1885-1_1x.jpg" alt="">
          <div class="mask">
            <div class="meta">
              <div class="words">
                <span class="title">Yule Log</span>
                <span class="role">Design / Code</span>
              </div>
            </div>
          </div>
        </a>
        </li>

        <li class="web code grid-unit">
        <a href="#" class="thumbnail" data-toggle="modal" data-target="#myModal">
          <img src="https://d13yacurqjgara.cloudfront.net/users/11867/screenshots/1046290/sqqssq_1x.jpg" alt="">
          <div class="mask">
            <div class="meta">
              <div class="words">
                <span class="title">Earth</span>
                <span class="role">Web / Code</span>
              </div>
            </div>
          </div>
        </a>
        </li>

        <li class="app code grid-unit">
        <a href="#" class="thumbnail" data-toggle="modal" data-target="#myModal">
          <img src="https://d13yacurqjgara.cloudfront.net/users/11867/screenshots/1325243/111111aaaa_1x.jpg" alt="">
          <div class="mask">
            <div class="meta">
              <div class="words">
                <span class="title">Hobbit Holes</span>
                <span class="role">App / Code</span>
              </div>
            </div>
          </div>
        </a>
        </li>

        <li class="web app code grid-unit">
        <a href="#" class="thumbnail" data-toggle="modal" data-target="#myModal">
          <img src="https://d13yacurqjgara.cloudfront.net/users/11867/screenshots/1326185/22222_1x.jpg" alt="">
          <div class="mask">
            <div class="meta">
              <div class="words">
                <span class="title">Out of the Shire</span>
                <span class="role">Web / App / Code</span>
              </div>
            </div>
          </div>
        </a>
        </li>

        <li class="web design grid-unit">
        <a href="#" class="thumbnail" data-toggle="modal" data-target="#myModal">
          <img src="https://d13yacurqjgara.cloudfront.net/users/11867/screenshots/1192944/2s2s2s_1x.jpg" alt="">
          <div class="mask">
            <div class="meta">
              <div class="words">
                <span class="title">Map</span>
                <span class="role">Web / Design</span>
              </div>
            </div>
          </div>
        </a>
        </li>

        <li class="app design grid-unit">
        <a href="#" class="thumbnail" data-toggle="modal" data-target="#myModal">
          <img src="https://d13yacurqjgara.cloudfront.net/users/11867/screenshots/1180887/kaboom_1x.jpg" alt="">
          <div class="mask">
            <div class="meta">
              <div class="words">
                <span class="title">Kaboom!</span>
                <span class="role">App / Design</span>
              </div>
            </div>
          </div>
        </a>
        </li>
      </ul>
    </div>

    <div class="row text-center">
      <a href="portfolio/index.html" class="btn btn-2">View All Projects</a>
    </div>

  </div>

</section>
<!-- End Portfolio Section -->

<!-- About Section -->
<section id="about">

  <div class="container">

    <div class="row text-center">
      <div class="col-sm-12">
        <h1 class="heading-large section-color-1">ABOUT US</h1>
      </div>
      <div class="col-sm-12">
        <p class="text-large section-color-1">
        We create beautiful responsive Websites using the latest Web Technologies,<br>
        for what ever need you may have.
        </p>
      </div>
    </div>

    <div class="row text-center">

      <div class="col-sm-6 col-lg-3">
        <div class="team-member">
          <div class="header">
            <span class="name">Alexander Korsak</span>
            <span class="position">CEO, Developer</span>
          </div>
          <div class="content">
            <div class="info">
              <p>I am a graduate from the University of Florida where I received a Bachelors in Computer Science.</p>
              <p>Sed in luctus lectus, ac commodo velit. Nulla imperdiet ullamcorper augue ac ultricies.</p>
            </div>
            <img src="images/team-1.jpg" alt="" style="height: 332px">
          </div>
          <div class="footer">
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a href="#"><i class="fa fa-envelope"></i></a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-3">
        <div class="team-member">
          <div class="header">
            <span class="name">Anna Korsak</span>
            <span class="position">Designer</span>
          </div>
          <div class="content">
            <div class="info">
              <p>I am a graduate from the University of Florida where I received a Bachelors in Graphics and Web Design.</p>
            </div>
            <img src="images/team-2.jpg" alt="" style="height: 332px">
          </div>
          <div class="footer">
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a href="#"><i class="fa fa-envelope"></i></a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-3">
        <div class="team-member">
          <div class="header">
            <span class="name">Zakhar Slabodnik</span>
            <span class="position">Developer</span>
          </div>
          <div class="content">
            <div class="info">
              <p>I am a graduate from the University of Florida where I received a Bachelors in Multimedia.</p>
              <p>Sed in luctus lectus, ac commodo velit. Nulla imperdiet ullamcorper augue ac ultricies.</p>
            </div>
            <img src="images/team-3.jpg" alt="" style="height: 332px">
          </div>
          <div class="footer">
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a href="#"><i class="fa fa-envelope"></i></a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-3">
        <div class="team-member">
          <div class="header">
            <span class="name">Artsiom Slabodnik</span>
            <span class="position">Designer, Developer</span>
          </div>
          <div class="content">
            <div class="info">
              <p>I am a graduate from the University of Florida where I received a Bachelors in Computer Science and Multimedia.</p>
            </div>
            <img src="images/team-4.jpg" alt="">
          </div>
          <div class="footer">
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a href="#"><i class="fa fa-envelope"></i></a></li>
            </ul>
          </div>
        </div>
      </div>

    </div>

  </div>

</section>
<!-- End About Section -->

<!-- Section description projects-->
<div class="container ">

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <button type="button" class="close portfolio-modal-close" data-dismiss="modal" aria-label="myModalLabel" aria-hidden="true"><i class="fa fa-times"></i></button>
        <div class="hz-divider medium"></div>
        <div class="container ">

            <img class="img-responsive portfolio-description-imge" src="images/portfolio-description-1.jpg" alt="" />
            <div class="hz-divider"></div>
            <div class="portfolio-description-content">
                <h2 class="portfolio-description-title">Portfolio Title</h2>
                <hr />
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum.
                </p>
                <img class="pull-left img-responsive img-thumbnail" src="https://d13yacurqjgara.cloudfront.net/users/11867/screenshots/1046290/sqqssq_1x.jpg" alt="" />
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel.
                </p>
                <div class="row text-center">
                  <a href="#" class="btn btn-2">View Project</a>
                </div>
            </div>
            <br><br>
        </div>
    </div>
</div>
<!--End Section description projects-->

<!-- Start skills section -->

<section id="skills" style="padding: 50px 0;">
    
      <div class="container">
      
        <div class="row skills">

          <div class="col-sm-6 col-md-3 text-center">
            <span class="chart" data-percent="80"><span class="percent">80</span></span>
            <h2 class="text-center">Web Design</h2>
          </div>
          <div class="col-sm-6 col-md-3 text-center">
            <span class="chart" data-percent="70"><span class="percent">70</span></span>
            <h2 class="text-center">HTML / CSS</h2>
          </div>
          <div class="col-sm-6 col-md-3 text-center">
            <span class="chart" data-percent="60"><span class="percent">60</span></span>
            <h2 class="text-center">Graphic Design</h2>
          </div>
          <div class="col-sm-6 col-md-3 text-center">
            <span class="chart" data-percent="90"><span class="percent">90</span></span>
            <h2 class="text-center">UI / UX</h2>
          </div>
          
        </div><!--End row -->
        
      </div><!--End container -->
      
    </section><!--End skills section -->

<!-- Contact Section -->
<section id="contact">

  <div class="container">
    <div class="row text-center">
      <div class="col-sm-12">
        <h1 class="heading-large section-color-1">HIRE US</h1>
      </div>
      <div class="col-sm-12">
        <p class="text-large section-color-1">
        If you would like to order a custom package, request a quote on a project or any other queries,<br>
        feel free to send us a message either by our contact form or contact details below.
        </p>
      </div>
    </div>

    <div class="row text-center">

      <div class="col-sm-6 col-sm-offset-3">
        <div class="form-container">

          <!-- Contact Form -->
          <form id="contact_form" action="email.php" method="post" name="contactform">
            <div class="form-group">
              <i class="fa fa-user"></i>
              <input id="name" name="name" type="text" class="form-control" placeholder="Full Name*">
            </div>
            <div class="form-group">
              <i>@</i>
              <input id="email" name="email" type="text" class="form-control" placeholder="Email Address*">
            </div>
            <div class="form-group">
              <i class="fa fa-envelope"></i>
              <textarea name="message" id="message" class="form-control" rows="7" placeholder="Message*"></textarea>
            </div>
            <div class="form-group">
              <button id="send_message" type="submit" class="btn btn-1" value="Submit">Submit Your Message</button>
            </div>
          </form>
          <!-- End Contact Form -->

          <!-- Success Message -->
          <div class="message-sent">
            <div>
              <h2 class="section-color-1">Message Was Sent Successfully!</h2>
            </div>
          </div>
          <!-- End Success Message -->

        </div>
      </div>

      <div class="clearfix"></div>

      <div class="col-sm-12 section-color-1">

        <ul class="contact-details">
          <li>
          <i class="fa fa-map-marker"></i>
          <h2> 46 Gray's Inn Rd, London, WC1X 8LP</h2>
          <i class="fa fa-map-marker"></i>
          </li>
          <li>
          <i class="fa fa-envelope-o"></i>
          <h2>example@gmail.com</h2>
          <i class="fa fa-envelope-o"></i>
          </li>
          <li>
          <i class="fa fa-phone"></i>
          <h2>(123) 456 - 7890</h2>
          <i class="fa fa-phone"></i>
          </li>
          <li>
          <i class="fa fa-mobile"></i>
          <h2>(123) 456 - 7890</h2>
          <i class="fa fa-mobile"></i>
          </li>
        </ul>

      </div>

    </div>

  </div>

</section>
<!-- End Contact Section -->

<!-- Footer Section -->
<footer>

  <div class="container text-center">

    <div class="row">

      <div class="col-sm-12">
        <ul class="social list-inline">
          <li>
          <div>
            <a href="#" class="facebook">
              <i class="fa fa-facebook"></i>
            </a>
          </div>
          </li>
          <li>
          <div>
            <a href="#" class="twitter">
              <i class="fa fa-twitter"></i>
            </a>
          </div>
          </li>
          <li>
          <div>
            <a href="#" class="dribbble">
              <i class="fa fa-dribbble"></i>
            </a>
          </div>
          </li>
          <li>
          <div>
            <a href="#" class="vimeo">
              <i class="fa fa-vimeo-square"></i>
            </a>
          </div>
          </li>
          <li>
          <div>
            <a href="#" class="linkedin">
              <i class="fa fa-linkedin"></i>
            </a>
          </div>
          </li>
          <li>
          <div>
            <a href="#" class="google-plus">
              <i class="fa fa-google-plus"></i>
            </a>
          </div>
          </li>
          <li>
          <div>
            <a href="#" class="youtube">
              <i class="fa fa-youtube"></i>
            </a>
          </div>
          </li>
        </ul>
      </div>

      <div class="col-sm-12">
        <ul class="subnav list-inline">
          <li><a href="" scroll-to="#services h1">Services</a></li>
          <li><a href="" scroll-to="#portfolio h1">Portfolio</a></li>
          <li><a href="" scroll-to="#about h1">About</a></li>
          <li><a href="" scroll-to="#contact h1">Hire Us</a></li>
        </ul>
      </div>

      <div class="col-sm-12">
       
      </div>

      <div class="col-sm-12">
        <a href="" scroll-to=".navbar div">
          <img src="images/logo-text-right.png" class="logo" alt="logo">
        </a>
      </div>

    </div>

  </div>

</footer>

<script type="text/javascript">
$(function() {
    var aboutColor = $('#about').css('backgroundColor');
    $('.chart').easyPieChart({
        size:170,
        animate: 2000,
        lineCap:'butt',
        scaleColor: false,
        barColor: aboutColor,
        lineWidth: 10
    });
});
</script>